body {
    background-color: #131313;
    color: #eee;
}

.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 75%;
    background-color: #131313;
    border: 1px solid #202020;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #202020;
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
    background-color: #131313;
    border: 1px solid #202020;
}

.list-group-item:hover {
    background-color: #202020;
}